*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
}
button{
    background-color: black;
    color: white;
}
.dark{
    background-color: #1e1e1e;
    color: white;
}
.dark button{
    background-color: white;
    color: #1e1e1e;
    border-radius: 50px;
}